.course-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.course{

    width: 400px;
    height: 300px;
    border: 2px solid #919eca;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}