.header{
    width: 100%;
    height: 70px;   
    background-color: #919eca;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-family: bold;
    font-size: 24px;
    color: white;
    padding: 25px 10px ;
}