.curruncy-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border: 1px solid black;
}


.amount{

    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.from-curruncy-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.to-curruncy-option{
     width: 70px;
    height: 30px;
    margin-right: 10px;
}

.result{
    width: 80px;
    height: 25px;
    margin-right: 10px;
}